
.gridThree{
    width: 500px;
    height: 300px;
    background-color: AliceBlue;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.four {
    text-align: left;
}

.five > img{
    width: 500px;
    height: 225px;
	object-fit: cover;
    bottom: 10px;
}