
.gridFour{
    width: 500px;
    background-color: green;
    padding: 10px 0px;
}

#six {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#seven {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

